<!DOCTYPE html>
<html>
  <head>
    <title>Home - TheiaASL</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <img
      src="{{ url_for('static', filename='images/theia-name-logo.png') }}"
      alt="Theia Logo"
      style="max-width: 50%; height: auto"
    />

    <h1>Welcome {{ username }}!</h1>

    <a href="/modules">
      <h2>View Modules ↩</h2>
    </a>

    <a href="/statistics">
      <h2>View Statistics ↩</h2>
    </a>
  </body>
</html>
