<!DOCTYPE html>
<html>
  <head>
    <title>{{ module }}: Learn Sign {{ sign }} - TheiaASL</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="page-content">
      <div style="height: 20px"></div>

      <div style="display: flex; justify-content: center">
        <a href="/home" class="home-link">
          <img
            src="{{ url_for('static', filename='images/theia-name-logo.png') }}"
            alt="Theia Logo"
            class="home-img"
          />
        </a>
      </div>

      <h1 style="text-align: center; margin: 20px 0">Sign {{ sign }}</h1>

      <p style="padding: 0 15vw; text-align: center">{{ text_desc }}</p>

      <!-- Image and Video Tutorial -->
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        "
      >
        <img
          src="{{ url_for('static', filename=img_url) }}"
          style="width: auto; height: 200px"
        />
        <iframe width="420" height="315" src="{{ vid_url }}"> </iframe>
      </div>

      <!-- Try Sign Video Feed -->
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px 0;
        "
      >
        <img id="video" src="/video" alt="Camera Feed" />
      </div>

      <div style="display: flex; flex-direction: row; justify-content: center">
        <button id="toggle-button" onclick="toggleCamera()">
          Toggle Camera
        </button>
        <span style="width: 20px"></span>
        <form action="/{{ module }}/{{ sign }}/run_learn_sign_f" method="POST">
          <input
            type="submit"
            id="myButton"
            value="Try Sign"
            style="background-color: #6d4f1a; color: white"
          />
        </form>
      </div>

      <p id="result" style="text-align: center">{{ result }}</p>

      <script>
        function toggleCamera() {
          const videoElement = document.getElementById("video");
          if (videoElement.style.display === "none") {
            videoElement.style.display = "block";
          } else {
            videoElement.style.display = "none";
          }
        }
      </script>

      <script>
        // Function to change the button value
        function changeButtonValue() {
          document.getElementById("myButton").value = "Processing...";
        }

        // Attach the function to the button's click event
        document
          .getElementById("myButton")
          .addEventListener("click", changeButtonValue);
      </script>
      <script>
        // Automatically show the pop-up when the page loads
        window.onload = function () {
          document.getElementById("popup").style.display = "block";
        };

        function showPopup() {
          document.getElementById("popup").style.display = "block";
        }
      </script>
    </div>
  </body>
</html>
