<!DOCTYPE html>
<html>
  <head>
    <title>Modules - Theia ASL</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="page-content">
      <div style="display: flex; justify-content: center">
        <a href="/home" class="home-link">
          <img
            src="{{ url_for('static', filename='images/theia-name-logo.png') }}"
            alt="Theia Logo"
            class="home-img"
          />
        </a>
      </div>

      <h1 style="text-align: center">Modules</h1>

      <div style="padding: 0 0 0 20px">
        {% for module in modules %}
        <h2 class="toggle" style="cursor: pointer">{{ module.name }} ☰</h2>

        <div class="hide-content" style="padding: 0 0 0 20px">
          <h3 class="toggle" style="cursor: pointer">Learn Signs ☰</h3>
          <div class="hide-content" style="padding: 0 0 0 20px">
            {% for sign in module.signs %}
            <a href="/learn/{{ module.name }}/{{ sign }}">
              <h4>Learn {{ sign }} ↩</h4>
            </a>
            {% endfor %}
          </div>

          <h3 class="toggle" style="cursor: pointer">Do an Assessment ☰</h3>
          <div class="hide-content" style="padding: 0 0 0 20px">
            {% for assessment in assessments %}
            <a href="/assessment/{{ module.name }}/{{ assessment }}">
              <h4>{{ assessment }} ↩</h4>
            </a>
            {% endfor %}
          </div>

          <a href="/sandbox/{{ module.name }}">
            <h3>Sandbox ↩</h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll(".toggle").forEach((item) => {
          item.addEventListener("click", (event) => {
            // Toggle visibility of the next sibling (the hide-content div)
            let content = item.nextElementSibling;
            content.classList.toggle("hide-content");
          });
        });
      });
    </script>
  </body>
</html>
