<!DOCTYPE html>
<html>
  <head>
    <title>Modules - Theia ASL</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="page-content">
      <div style="height: 20px"></div>

      <div style="display: flex; justify-content: center">
        <a href="/home" class="home-link">
          <img
            src="{{ url_for('static', filename='images/theia-name-logo.png') }}"
            alt="Theia Logo"
            class="home-img"
          />
        </a>
      </div>

      <h1 style="text-align: center">Modules</h1>

      <div style="padding: 0 0 0 20px">
        {% for module in modules %}
        {% set outer_loop_index = loop.index0 %}
        <h2 class="toggle" style="cursor: pointer">{{ module.name }} ☰</h2>

        <div class="hide-content" style="padding: 0 0 0 20px">
          <h3 class="toggle" style="cursor: pointer">Learn Signs ☰</h3>
          <div class="hide-content" style="padding: 0 0 0 20px">
            {% for sign in module.signs %}
            <a href="/learn/{{ module.name }}/{{ sign }}">
              <h4>Learn {{ sign }} ↩</h4>
            </a>
            {% endfor %}
          </div>

          <h3 class="toggle" style="cursor: pointer">Do an Assessment ☰</h3>
          <div class="hide-content" style="padding: 0 0 0 20px">
            {% for assessment in assessments %}
            <a href="/assessment/{{ module.name }}/{{ assessment }}">
              <h4>{{ assessment }} ↩</h4>
            </a>
              {% if assessment == "Basic Assessment" %}
                  <h5 style="margin-left: 10px">High Score: {{ highscores[outer_loop_index] }}</h5>
              {% elif assessment == "Smart Assessment" %}
                  <h5 style="margin-left: 10px">High Score: {{ highscores2[outer_loop_index] }}</h5>
              {% elif assessment == "Rounds Assessment" %}
                  <h5 style="margin-left: 10px">High Score: {{ highscores3[outer_loop_index] }}</h5>
              {% elif assessment == "Survival Assessment" %}
                  <h5 style="margin-left: 10px">High Score: {{ highscores4[outer_loop_index] }}</h5>
              {% endif %}
            {% endfor %}
          </div>
          <a href="/sandbox/{{ module.name }}">
            <h3>Sandbox ↩</h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <script src="{{url_for('static', filename='js/toggleContent.js')}}"></script>
  </body>
</html>
