<!DOCTYPE html>
<html>
  <head>
    <title>{{ module }}: Sandbox - TheiaASL</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="page-content">
      <div style="height: 20px"></div>

      <div style="display: flex; justify-content: center">
        <a href="/home" class="home-link">
          <img
            src="{{ url_for('static', filename='images/theia-name-logo.png') }}"
            alt="Theia Logo"
            class="home-img"
          />
        </a>
      </div>
      <h1 style="text-align: center">{{ module }}: Sandbox</h1>

      <p style="text-align: center; padding: 0 15vw">
        Welcome to the sandbox! Here you can practice signs from "{{ module }}."
      </p>

      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 20px;
        "
      >
        <img id="video" src="/{{ module }}/video" alt="Camera Feed" />
      </div>

      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px;
        "
      >
        <button id="toggle-button" onclick="toggleCamera()">
          Toggle Camera
        </button>
      </div>
    </div>

    <script>
      function toggleCamera() {
        const videoElement = document.getElementById("video");
        if (videoElement.style.display === "none") {
          videoElement.style.display = "block";
        } else {
          videoElement.style.display = "none";
        }
      }
    </script>
  </body>
</html>
