<!DOCTYPE html>
<html>
  <head>
    <title>{{ module }}: {{ assessmentType }} - TheiaASL</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="page-content">
      <div style="height: 20px"></div>

      <div style="display: flex; justify-content: center">
        <a href="/home" class="home-link">
          <img
            src="{{ url_for('static', filename='images/theia-name-logo.png') }}"
            alt="Theia Logo"
            class="home-img"
          />
        </a>
      </div>

      <h1 style="text-align: center">{{ assessmentType }}</h1>
      <h3 style="text-align: center">{{ REDEMPTION }}</h3>
      <h3 style="text-align: center">
        You will now retry the signs gotten wrong
      </h3>
      <h3 style="text-align: center">Click the button to attempt sign:</h3>

      <div class="flex-center">
        <form
          action="/{{ module }}/{{ sign }}/run_wrongs_assessment_f"
          method="POST"
        >
          <input
            type="submit"
            id="myButton"
            value="Make {{ sign }}"
            class="dark-btn"
          />
        </form>
      </div>

      <p id="result" style="text-align: center">{{ result }}</p>

      <div id="video-container" class="flex-center">
        <img id="video" src="/video" alt="Camera Feed" />
      </div>

      <div class="flex-center" style="margin: 20px 0">
        <button id="toggle-button" onclick="toggleCamera()">
          Toggle Camera
        </button>
      </div>
    </div>

    <script>
      // Function to change the button value
      function changeButtonValue() {
        document.getElementById("myButton").value = "Processing...";
      }

      // Attach the function to the button's click event
      document
        .getElementById("myButton")
        .addEventListener("click", changeButtonValue);
    </script>

    <script>
      // Automatically show the pop-up when the page loads
      window.onload = function () {
        document.getElementById("popup").style.display = "block";
      };

      function showPopup() {
        document.getElementById("popup").style.display = "block";
      }
    </script>

    <script>
      function toggleCamera() {
        const videoElement = document.getElementById("video");
        if (videoElement.style.display === "none") {
          videoElement.style.display = "block";
        } else {
          videoElement.style.display = "none";
        }
      }
    </script>
  </body>
</html>
